body {
    margin: 0;
    padding: 0;
    background-color: black;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --mainColor: whitesmoke;
    --cardColor: rgba(255, 255, 255, 0.281);
}
/* background video */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

/* navigation bar */
.nav {
    color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    /* top: 0;
    position: sticky; */
}
.left {
    padding: 2%;
    font-size: 1.5rem;
    font-family: Candara;
    font-weight: 600;
}
.right {
    padding: 2%;
    font-size: 1.5rem;
    font-family: Candara;
    font-weight: 600;
}
.middle {
    font-size: 3rem;
    font-family: Ink Free;
    font-weight: 900;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
}

/* details */
.container {
    width: 90%;
    margin: 3%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.219);
    display: flex;
    font-size: 30px;
    /* align-items: center; */
}
.photo {
    width: 60vh;
    height: 50vh;
    margin-right: 1%;
}
.details {
    display: flex;
    flex-direction: column;
    /* row-gap: 1px; */
}
.category{
    display: flex;
    flex-direction: row;
}
.category p {
    margin: 10px;
}
.category:nth-child(1) {
    display: flex;
    flex-direction: column;
}
#desc2 {
    margin-top: 0;
}
.head {
    font-size: 26px;
    font-family: Candara;
    font-weight: 600;
    color: goldenrod;
}
.body {
    font-size: 20px;
    font-family: Candara;
    color: white;
}
#icon {
    position: fixed;
    translate: 1105px;
}
.fa-solid {
    color: red;
}
.fa-regular {
    color: white;
}

/* styles for hover */
.glow:hover {
    cursor: pointer;
    text-shadow: var(--mainColor) 0 0 10px;
    transform: scale(1.05);
}
.heart-icon:hover {
    text-shadow: var(--mainColor) 0 0 10px;
}